<div class="flex h-full flex-col gap-4 px-6 pt-6 ">

  <!-- Question title — always pinned at top; image slot can be added here later -->
  <planportal-questioncontentcard [field]="formModel.title" />

  <button (click)="t()">dwdwd</button>
  <!-- Options — fills remaining height, min-h-40 so it never fully collapses -->
  <div class="flex-1 min-h-40 px-2.5 py-1 mb-5 rounded-lg border border-input overflow-y-scroll">
    <div class="flex flex-col gap-3 p-3 ">
      @for (option of formModel.options; track $index) {
      <planportal-truefalse-option [input]="option" />
      }
    </div>
  </div>
</div>